@model IEnumerable<ECommerceMvcSite.Models.Product>

@{
    ViewBag.Title = "Admin Paneli";
}

<h2>Ürün Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@Url.Content(item.ImageUrl)" width="100" />
                    }
                </td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>
                    @Html.ActionLink("Düzenle", "EditProduct", new { id = item.Id }) |
                    @using (Html.BeginForm("DeleteProduct", "Admin", new { id = item.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bu ürünü silmek istediğinize emin misiniz?');">Sil</button>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>


<a href="@Url.Action("AddProduct", "Admin")" class="btn btn-primary">Yeni Ürün Ekle</a>
