@{
    ViewBag.Title = "Giriş Yap";
}

<h2 class="text-center">Giriş Yap</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red" class="text-center">@ViewBag.Error</div>
}
@if (TempData["PasswordChanged"] != null)
{
    <div class="alert alert-success">@TempData["PasswordChanged"]</div>
}
@if (TempData["EmailChanged"] != null)
{
    <div class="alert alert-success">@TempData["EmailChanged"]</div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}
@if (TempData["UpdateMessage"] != null)
{
    <div class="alert alert-success">@TempData["UpdateMessage"]</div>
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email adresiniz" required />
    </div>

    <div>
        <label for="password">Şifre</label>
        <input type="password" name="password" class="form-control" placeholder="Şifreniz" required />
    </div>
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <br />
    <button type="submit" class="btn btn-success">Giriş Yap</button>
    <div class="text-center mt-2">
        <a href="@Url.Action("ForgotPassword", "Account")">Şifremi Unuttum</a>
    </div>
    <div class="text-center mt-4">
        <p>Hesabın yok mu?</p>
        <a href="@Url.Action("Register", "Account")" class="btn btn-outline-primary">Hemen Kaydol</a>
    </div>
}
